<%- include('includes/head.ejs', { title: 'Attendance' }) %>
<!-- <% include('includes/back.ejs') %> -->
</head>
<body>
<%- include('includes/header.ejs') %>
<main style="text-align: center">
    <h1>Attendance</h1>
</main>
</body>

</html>