<%- include('includes/head.ejs', { title: 'Balance' }) %>
<!-- <link rel="stylesheet" href="/styles/forms.css"> -->
<!-- <link rel="stylesheet" href="/styles/auth.css"> -->
</head>

<body>
<%- include('includes/header.ejs') %>
<main style="text-align: center">
    <h1>Balance</h1>
</main>
</body>

</html>