<%- include('includes/head.ejs', { title: 'Contact-us' }) %>
<!-- <link rel="stylesheet" href="/styles/forms.css"> -->
<!-- <link rel="stylesheet" href="/styles/auth.css"> -->
</head>


<!--NOTE------------------------------
--------------------------------------
--------------------------------------
---------Contact us is About us-->


<body>
<%- include('includes/header.ejs') %>
<main style="text-align: center">
    <h1>About Us</h1>
        <div class="about">
            
        </div>
</main>
</body>

</html>