<%- include('includes/head.ejs', { title: 'Contact-us' }) %>
<!-- <link rel="stylesheet" href="/styles/forms.css"> -->
<!-- <link rel="stylesheet" href="/styles/auth.css"> -->
<link rel="stylesheet" href="/styles/aboutstyle.css">
</head>


<!--NOTE------------------------------
--------------------------------------
--------------------------------------
---------Contact us is About us-->


<body>
<%- include('includes/header.ejs') %>
<main>
    <h1 style="text-align: center">About Us</h1>
        <div class="about" >
            Mess Portal of IIT BHU is responsible for providing transparency to the students about mess and ensuring that
            tasks related to mess remain as smooth as possible. We are the students of IIT BHU who caters to the needs of
            6000 plus students throughout the year. The current mess portal includes a fully digital process for
            registration, attendance, menu, and much more.
        </div>
</main>
<%- include('includes/footer.ejs') %>
</body>
</html>