<%- include('includes/head.ejs', { title: 'Hostel '+ id}) %>
<style>
    #doc-title span .name {
        display: none;
    }
</style>
</head>

<body style="align-items: center; width: 100%">
<%- include('includes/header.ejs') %>
<main style="text-align: center; min-height: 495px">
    <h1>Mess <%= id %> </h1>

<!--    Menu photo-->
    <img src="/images/mess1.jpg" height="520">
</main>
<%- include('includes/footer.ejs') %>
</body>
</html>