<%- include('includes/head.ejs', { title: 'Welcome' }) %>
</head>
<body>
<%- include('includes/header.ejs') %>
<main style="text-align: center">
    <h1>Demo Text</h1>

</main>
</body>
<%- include('includes/footer.ejs') %>

</html>