.container{
    position: relative;
    align-items: center;
    justify-content: center;
    /*margin-left: 340px;*/
    /*margin-top: 60px;*/
    margin: fill;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    outline: none;
    display: flex;
    min-height: 100px;
    width: 560px;
}
.container h1{
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.container form{
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 0 30px;
}
.container form h1{
    padding: 12px 0;
    color: whitesmoke;
}
.container form .areas {
    position: relative;
}
.container form input{
    width: 100%;
    max-height: 100px;
    margin: 4px 0;
    color:  rgba(250, 250, 250, 1);
    background-color:rgba(36, 167, 123, 0);
    border-bottom-left-radius: 10px;
    border-style:ridge;
    border-color: aliceblue;
    padding: 0 15px;
    font-size: 20px ;
}
.container .areas select{
    width: 100%;
    max-height: 100px;
    margin: 4px 0;
    color: aliceblue;
    background-color:rgba(36, 167, 123, 0);
    border-bottom-left-radius: 10px;
    border-style:ridge;
    border-color: aliceblue;
    padding: 0 15px;
    font-size: 20px ;
}

.container #messname{
    background-color: rgba(251, 251, 251, 0.1);
}
.container .areas i{
    position: absolute;
    font-size: 18px;
    transform: translate(50%);
    top: 20%;
    color: white;
}
.container form textarea{
    width: 88%;
    margin: auto;
    padding: 5px 15px;
    border-bottom-left-radius: 10px;
    color:  rgba(250, 250, 250, 1);
    background-color:rgba(36, 167, 123,0);
    padding: 0 20px;
    font-size:25px ;
}
.container form button{
    width: 88%;
    margin-left: auto;
    margin-top: 5px;
    border: none;
    background: rgb(137, 222, 140);
    color: black;
    padding: 12px 0;
    font-weight: 500;
    cursor: pointer;
}
.container form input:focus,
.container form textarea:focus,
.container select:focus{
    border: 1px inset whitesmoke;
    /*color:  rgba(250, 250, 250, 1);*/
    transition: all 0.3s ease;
}

.container .areas select:focus {
    border: 1px inset whitesmoke;
    color:  rgba(0, 0, 25, 1);
    transition: all 0.3s ease;
}
.container ::placeholder{
    color:rgba(255,255,250,0.6);
}